In [2]:
import pandas as pd

In [3]:
# Загрузка всех листов Excel файла в виде словаря
# Ключи словаря - названия листов, значения - DataFrame с данными
excel_file_path = 'C:\\Users\\user\\Downloads\\Data.xlsx'  
sheets_dict = pd.read_excel(excel_file_path, sheet_name=None)

# Печать имен листов
print("Список листов:", sheets_dict.keys())

Список листов: dict_keys(['Sales', 'Dim_delivery_method', 'Dim_order', 'Dim_product', 'Dim_customer', 'Dim_manager'])

In [4]:
# Создайте отдельные DataFrame для каждого листа
for sheet_name, df in sheets_dict.items():
    globals()[sheet_name] = df
    print(f"Лист '{sheet_name}' загружен как DataFrame с размером {df.shape}")

Лист 'Sales' загружен как DataFrame с размером (730, 10)
Лист 'Dim_delivery_method' загружен как DataFrame с размером (2, 2)
Лист 'Dim_order' загружен как DataFrame с размером (571, 2)
Лист 'Dim_product' загружен как DataFrame с размером (445, 3)
Лист 'Dim_customer' загружен как DataFrame с размером (192, 2)
Лист 'Dim_manager' загружен как DataFrame с размером (6, 2)

In [5]:
# Sheet Sales:
print(Sales.head())

   Order_ID              а  Quantity   Revenue Delivery_method   Profit  \
0       643           High        21  2 781.82     Express Air  -695.26
1      8995           High        35  3 389.93     Express Air   737.94
2      9127  Not Specified         7  2 039.56     Express Air  -329.49
3     26272            Low         6    905.94     Express Air    -4.19
4     36646         Medium        24  1 168.15     Express Air  -743.96

             Customer                 Region  \
0      Monica Federle                Nunavut
1          Beth Paige  Northwest Territories
2         Bryan Davis  Northwest Territories
3         Carlos Daly  Northwest Territories
4  Muhammed MacIntyre  Northwest Territories

                                             Product Product_package
0              SAFCO Commercial Wire Shelving, Black       Large Box
1       Luxo Professional Combination Clamp-On Lamps       Large Box
2  Tennsco Snap-Together Open Shelving Units, Sta...       Large Box
3                           Hon Olson Stacker Stools       Large Box
4                        Tennsco Industrial Shelving       Large Box

In [6]:
print(Sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         730 non-null    int64
 1   а                730 non-null    object
 2   Quantity         730 non-null    int64
 3   Revenue          730 non-null    object
 4   Delivery_method  730 non-null    object
 5   Profit           730 non-null    object
 6   Customer         730 non-null    object
 7   Region           730 non-null    object
 8   Product          730 non-null    object
 9   Product_package  730 non-null    object
dtypes: int64(2), object(8)
memory usage: 57.2+ KB
None

In [7]:
print(Sales.describe())

           Order_ID    Quantity
count    730.000000  730.000000
mean   29721.597260   24.857534
std    17350.560439   14.182970
min       35.000000    1.000000
25%    14479.000000   13.000000
50%    29350.500000   25.000000
75%    44978.500000   37.000000
max    59909.000000   50.000000

In [8]:
Sales['Revenue'] = Sales['Revenue'].str.replace('\xa0', '')
Sales = Sales.astype({'Revenue': 'float'})
Sales['Profit'] = Sales['Profit'].str.replace('\xa0', '')
Sales = Sales.astype({'Profit': 'float'})
print(Sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         730 non-null    int64
 1   а                730 non-null    object
 2   Quantity         730 non-null    int64
 3   Revenue          730 non-null    float64
 4   Delivery_method  730 non-null    object
 5   Profit           730 non-null    float64
 6   Customer         730 non-null    object
 7   Region           730 non-null    object
 8   Product          730 non-null    object
 9   Product_package  730 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 57.2+ KB
None

In [9]:
print(Sales.describe())

           Order_ID    Quantity       Revenue        Profit
count    730.000000  730.000000    730.000000    730.000000
mean   29721.597260   24.857534   1502.860164    347.650151
std    17350.560439   14.182970   2893.895029   2380.522549
min       35.000000    1.000000      8.000000  -4437.910000
25%    14479.000000   13.000000    171.097500    -77.132500
50%    29350.500000   25.000000    438.700000     -0.750000
75%    44978.500000   37.000000   1480.855000    183.467500
max    59909.000000   50.000000  27663.920000  44689.000000

In [33]:
# Уникальные значения в колонке Order_ID:
print(Sales['Order_ID'].nunique())

571

In [11]:
# Уникальные значения в колонке а:
print(Sales['а'].unique())

['High' 'Not Specified' 'Low' 'Medium' 'Critical']

In [12]:
# Уникальные значения в колонке Delivery_method:
print(Sales['Delivery_method'].unique())

['Express Air' 'Regular Air']

In [13]:
# Уникальные значения в колонке Region:
print(Sales['Region'].unique())

['Nunavut' 'Northwest Territories' 'Atlantic' 'West' 'Ontario' 'Prarie']

In [14]:
# Уникальные значения в колонке Product_package:
print(Sales['Product_package'].unique())

['Large Box' 'Medium Box' 'Small Box']

In [15]:
# Sheet Dim_delivery_method:
print(Dim_delivery_method.head())

        Method  Cost
0  Express Air    10
1  Regular Air     5

In [16]:
print(Dim_delivery_method.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Method  2 non-null      object
 1   Cost    2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes
None

In [17]:
# Sheet Dim_order:
print(Dim_order.head())

   Order_ID       Date
0        35 2022-01-01
1       293 2022-01-01
2       322 2022-01-01
3       450 2022-01-01
4       483 2022-01-01

In [18]:
print(Dim_order.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Order_ID  571 non-null    int64
 1   Date      571 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 9.1 KB
None

In [19]:
# Sheet Dim_product:
print(Dim_product.head())

          Category             Subcategory  \
0  Office Supplies  Storage & Organization
1        Furniture      Office Furnishings
2  Office Supplies  Storage & Organization
3        Furniture      Chairs & Chairmats
4  Office Supplies  Storage & Organization

                                             Product
0              SAFCO Commercial Wire Shelving, Black
1       Luxo Professional Combination Clamp-On Lamps
2  Tennsco Snap-Together Open Shelving Units, Sta...
3                           Hon Olson Stacker Stools
4                        Tennsco Industrial Shelving

In [20]:
print(Dim_product.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     445 non-null    object
 1   Subcategory  445 non-null    object
 2   Product      445 non-null    object
dtypes: object(3)
memory usage: 10.6+ KB
None

In [21]:
print(Dim_product.describe())

               Category                     Subcategory  \
count               445                             445
unique                3                              15
top     Office Supplies  Binders and Binder Accessories
freq                284                              79

                                      Product
count                                     445
unique                                    445
top     SAFCO Commercial Wire Shelving, Black
freq                                        1

In [22]:
print(Dim_product['Category'].unique())

['Office Supplies' 'Furniture' 'Technology']

In [23]:
print(Dim_product['Subcategory'].unique())

['Storage & Organization' 'Office Furnishings' 'Chairs & Chairmats'
 'Appliances' 'Copiers and Fax' 'Office Machines' 'Tables'
 'Telephones and Communication' 'Scissors, Rulers and Trimmers' 'Labels'
 'Paper' 'Binders and Binder Accessories' 'Computer Peripherals'
 'Envelopes' 'Pens & Art Supplies']

In [24]:
# Sheet Dim_customer:
print(Dim_customer.head())

          Customer         Segment
0    Aaron Bergman       Corporate
1  Adam Bellavance  Small Business
2      Alan Barnes       Corporate
3       Alex Avila     Home Office
4       Alex Avila       Corporate

In [25]:
print(Dim_customer.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Customer  192 non-null    object
 1   Segment   192 non-null    object
dtypes: object(2)
memory usage: 3.1+ KB
None

In [26]:
print(Dim_customer.describe())

            Customer    Segment
count            192        192
unique           173          4
top     Khloe Miller  Corporate
freq               3        105

In [27]:
print(Dim_customer['Segment'].unique())

['Corporate' 'Small Business' 'Home Office' 'Consumer']

In [28]:
# Проверка на дубли:
print(Dim_customer[Dim_customer.duplicated(keep=False)])

Empty DataFrame
Columns: [Customer, Segment]
Index: []

In [29]:
# Sheet Dim_manager:
print(Dim_manager.head())

                  Region                Manager
0                Nunavut            Ivan Petrov
1  Northwest Territories            Petr Ivanov
2               Atlantic     Vladislav Semeykin
3                   West       Vanessa Marigold
4                Ontario  Archibald Krestyianin

In [30]:
print(Dim_manager.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   6 non-null      object
 1   Manager  6 non-null      object
dtypes: object(2)
memory usage: 228.0+ bytes
None

In [31]:
print(Dim_manager.describe())

         Region      Manager
count         6            6
unique        6            6
top     Nunavut  Ivan Petrov
freq          1            1

In [32]:
print(Dim_manager['Region'].unique())

['Nunavut' 'Northwest Territories' 'Atlantic' 'West' 'Ontario' 'Prarie']